In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
# Load the dataset
loan_data = pd.read_csv('https://raw.githubusercontent.com/prasertcbs/basic-dataset/refs/heads/master/Loan-Approval-Prediction.csv')

# Split features and target

In [ ]:
loan_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

Create a copy to convert to numerical value

In [ ]:
loan_data_numerical= loan_data.copy()

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Convert categorical columns to numerical
loan_data_numerical['Gender'] = le.fit_transform(loan_data_numerical['Gender'])
loan_data_numerical['Married'] = le.fit_transform(loan_data_numerical['Married'])
loan_data_numerical['Education'] = le.fit_transform(loan_data_numerical['Education'])
loan_data_numerical['Self_Employed'] = le.fit_transform(loan_data_numerical['Self_Employed'])
loan_data_numerical['Property_Area'] = le.fit_transform(loan_data_numerical['Property_Area'])
loan_data_numerical['Loan_Status'] = le.fit_transform(loan_data_numerical['Loan_Status'])
loan_data_numerical['Dependents'] = le.fit_transform(loan_data_numerical['Dependents'])

Remove na values

In [ ]:
loan_data_numerical =loan_data_numerical.dropna()

In [ ]:
loan_data_numerical.info()

<class 'pandas.core.frame.DataFrame'>
Index: 529 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            529 non-null    object
 1   Gender             529 non-null    int64
 2   Married            529 non-null    int64
 3   Dependents         529 non-null    int64
 4   Education          529 non-null    int64
 5   Self_Employed      529 non-null    int64
 6   ApplicantIncome    529 non-null    int64
 7   CoapplicantIncome  529 non-null    float64
 8   LoanAmount         529 non-null    float64
 9   Loan_Amount_Term   529 non-null    float64
 10  Credit_History     529 non-null    float64
 11  Property_Area      529 non-null    int64
 12  Loan_Status        529 non-null    int64
dtypes: float64(4), int64(8), object(1)
memory usage: 57.9+ KB

Convert to X an y, split data to training and testing

In [ ]:

X= loan_data_numerical.drop('Loan_Status', axis=1)
X.drop('Loan_ID', axis=1, inplace=True)  # Drop Loan_ID as it's not a feature
y= loan_data_numerical['Loan_Status']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.2,       # 20% for testing, 80% for training (common ratio)
    random_state=42,     # Ensures the split is the same every time you run the code
    stratify=y           # Ensures the class distribution in the splits matches the original data
)

In [ ]:
X_train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
306,0,0,0,0,0,3762,1666.0,135.0,360.0,1.0,0
163,1,1,2,0,0,4167,1447.0,158.0,360.0,1.0,0
361,1,1,2,0,0,5000,3667.0,236.0,360.0,1.0,1
273,1,1,0,0,0,2620,2223.0,150.0,360.0,1.0,1
70,1,1,0,0,0,3208,3066.0,172.0,360.0,1.0,2

In [ ]:
X_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
190,1,0,0,1,0,4885,0.0,48.0,360.0,1.0,0
171,2,1,3,0,0,51763,0.0,700.0,300.0,1.0,2
372,1,1,2,0,1,9323,7873.0,380.0,300.0,1.0,0
64,0,0,0,0,0,4166,0.0,116.0,360.0,0.0,1
324,1,1,3,0,0,15000,0.0,300.0,360.0,1.0,0

In [ ]:
y_train.head()

306    1
163    1
361    1
273    1
70     1
Name: Loan_Status, dtype: int64

In [ ]:
y_test.head()

190    1
171    1
372    1
64     0
324    1
Name: Loan_Status, dtype: int64

Train and evaluate Logistic Regression Model

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve, roc_auc_score, auc

# Create an instance of the LogisticRegression model
model = LogisticRegression(solver='liblinear') # 'liblinear' is a good default solver

# Fit the model to the training data
model.fit(X_train, y_train)

LogisticRegression(solver='liblinear')

Evaluate Linear model

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import confusion_matrix, classification_report

# ... (Assume model is already trained and X_test, y_test are available from step 1)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate various classification metrics
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(f"Precision (weighted): {precision_score(y_test, y_pred, average='weighted')}")
print(f"Recall (weighted): {recall_score(y_test, y_pred, average='weighted')}")
print(f"F1 Score (weighted): {f1_score(y_test, y_pred, average='weighted')}")

# Display a full classification report
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

fpr, tpr, thresholds = roc_curve(y_test, y_pred)

auc_score = roc_auc_score(y_test, y_pred)
print(f'ROC AUC Score: {auc_score:.4f}')


# Display a confusion matrix
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.8018867924528302
Precision (weighted): 0.8280499238251494
Recall (weighted): 0.8018867924528302
F1 Score (weighted): 0.7732491514908215

Classification Report:
              precision    recall  f1-score   support

           0       0.93      0.39      0.55        33
           1       0.78      0.99      0.87        73

    accuracy                           0.80       106
   macro avg       0.86      0.69      0.71       106
weighted avg       0.83      0.80      0.77       106

ROC AUC Score: 0.6901

Confusion Matrix:
[[13 20]
 [ 1 72]]

Train and Evaluate KNN model

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

# Create an instance of the KNeighborsClassifier model
knn_model = KNeighborsClassifier(n_neighbors=5)  # Default k=5, can be tuned

# Fit the model to the training data
knn_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred_knn = knn_model.predict(X_test)

# Calculate various classification metrics
print(f"Accuracy: {accuracy_score(y_test, y_pred_knn)}")
print(f"Precision (weighted): {precision_score(y_test, y_pred_knn, average='weighted')}")
print(f"Recall (weighted): {recall_score(y_test, y_pred_knn, average='weighted')}")
print(f"F1 Score (weighted): {f1_score(y_test, y_pred_knn, average='weighted')}")

# Display a full classification report
print("\nClassification Report:")
print(classification_report(y_test, y_pred_knn))

# Calculate ROC AUC score
auc_score_knn = roc_auc_score(y_test, y_pred_knn)
print(f'ROC AUC Score: {auc_score_knn:.4f}')

# Display a confusion matrix
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred_knn))

Accuracy: 0.6698113207547169
Precision (weighted): 0.6051690251572326
Recall (weighted): 0.6698113207547169
F1 Score (weighted): 0.6039735064948552

Classification Report:
              precision    recall  f1-score   support

           0       0.40      0.12      0.19        33
           1       0.70      0.92      0.79        73

    accuracy                           0.67       106
   macro avg       0.55      0.52      0.49       106
weighted avg       0.61      0.67      0.60       106

ROC AUC Score: 0.5195

Confusion Matrix:
[[ 4 29]
 [ 6 67]]